.rightbar{
    flex:3.5;
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}


.birthdayImg{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.birthdayText{
    font-size: 14px;
    font-weight: 300;

}

.rightbarAd{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 13px;
}

.rightbarFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px; 
}

.rightbarInfoItem{
    margin-bottom: 10px;
    /* display: flex;
    align-items: center; */
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 10px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}